@model PalletConfigViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col-md-6">
        <form asp-action="Index" asp-controller="Home">
            <div class="row form-border">
                <!-- Pallet parameters -->
                <div class="form-group">
                    <label>Input pallet size:</label>
                    <div class="row">
                        <div class="col-xs-4">
                            <input class="form-control" asp-for="PalletData.PalletSizeX" placeholder="Width" />
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" asp-for="PalletData.PalletSizeY" placeholder="Height" />
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" asp-for="PalletData.PalletSizeZ" placeholder="Depth" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-border">
                <!-- Box parameters -->
                <div class="form-group">
                    <label>Input box parameters:</label>
                    <div class="row">
                        <div class="col-xs-4">
                            <input class="form-control" asp-for="PalletData.BoxSizeX" placeholder="Width" />
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" asp-for="PalletData.BoxSizeY" placeholder="Height" />
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" asp-for="PalletData.BoxSizeZ" placeholder="Depth" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Box weight:</label>
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" asp-for="PalletData.BoxWeight" placeholder="Kg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-border">
                <!-- Stacking requirements -->
                <div class="form-group">
                    <label>Max height:</label>
                    <div class="row">
                        <div class="col-xs-4">
                            <input class="form-control" asp-for="PalletData.PalletHeight" placeholder="Pallet height" />
                        </div>
                    </div>
                    <label>Max weight:</label>
                    <div class="row">
                        <div class="col-xs-4">
                            <input class="form-control" asp-for="PalletData.PalletWeight" placeholder="Pallet weight" />
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="checkbox-inline">
                                <input type="checkbox" id="areLayersOpposite"> Stack layers on opposite side
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-border">
                <!-- Best option calculation -->
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary mb-2" id="confirmBtnPost" value="Confirm">Confirm</button>
                    <button type="reset" class="btn btn-danger mb-2" id="resetBtn">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="row form-border">
            <!-- Display graphical presentation of pallet-->
            <label>Pallet view:</label>
            <div>
                <div class="" id="canvas" width="400" height="300"></div>
            </div>
        </div>
        <div class="row form-border">
            <!-- Best option calculation -->
            <div class="form-group">
                <label for="chooseStackingOption">Select stacking option</label>
                <select multiple class="form-control" id="chooseStackingOption">
                    <option>Boxes: 100, Height: 1000, Weight: 10, Utilisation: 70%</option>
                    <option>Boxes: 200, Height: 2000, Weight: 20, Utilisation: 80%</option>
                    <option>Boxes: 300, Height: 3000, Weight: 30, Utilisation: 90%</option>
                    <option>Boxes: 400, Height: 4000, Weight: 40, Utilisation: 100%</option>
                </select>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary mb-2" id="confirmBtnGet" value="Confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/three.min.js"></script>
    <script src="~/js/OrbitControls.js"></script>
    <script src="~/js/generateBoxes.js"></script>
    <script src="~/js/canvas.js"></script>
}