@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col-md-6">
        <div class="row"> <!-- Pallet parameters -->
            <form>
                <div class="form-group">
                    <label>Input pallet size:</label>
                    <div class="row">
                        <div class="col-xs-4">
                            <input class="form-control" id="sizeX" placeholder="X" />
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" id="sizeY" placeholder="Y" />
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control" id="sizeZ" placeholder="Z" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row"> <!-- Box parameters -->

        </div>
        <div class="row"> <!-- Stacking requirements -->

        </div>
        <div class="row"> <!-- Best option calculation -->
            
        </div>
    </div>
    <div class="col-md-7">

    </div>
</div>


